<%- include('../layout/userlayout/header', {isLogin: isLogin}) -%>


<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides">
           <li style="background-image: url(/static/user/images/cr7\ img\ bannner.webp);">
               <div class="overlay"></div>
               <div class="container-fluid">
                   <div class="row">
                       <div class="col-sm-6 offset-sm-3 text-center slider-text">
                           <div class="slider-text-inner">
                               <div class="desc">
                                   <h1 class="head-1">LUXURY</h1>
                                   <h2 class="head-2">SCENTS</h2>
                                   <h2 class="head-3">COLLECTION</h2>
                                   <p class="category"><span>New captivating fragrances</span></p>
                                   <p><a href="#" class="btn btn-primary">Shop Collection</a></p>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </li>
           <li style="background-image: url(/static/user/images/project\ banner1.jpeg);">
               <div class="overlay"></div>
               <div class="container-fluid">
                   <div class="row">
                       <div class="col-sm-6 offset-sm-3 text-center slider-text">
                           <div class="slider-text-inner">
                               <div class="desc">
                                   <h1 class="head-1">MASSIVE</h1>
                                   <h2 class="head-2">DISCOUNT</h2>
                                   <h2 class="head-3"><strong class="font-weight-bold">50%</strong> Off</h2>
                                   <p class="category"><span>Huge sale perfumes</span></p>
                                   <p><a href="#" class="btn btn-primary">Shop Collection</a></p>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </li>
           <li style="background-image: url(/static/user/images/pexels-shvetsa-5760898.jpg);">
               <div class="overlay"></div>
               <div class="container-fluid">
                   <div class="row">
                       <div class="col-sm-6 offset-sm-3 text-center slider-text">
                           <div class="slider-text-inner">
                               <div class="desc">
                                   <h1 class="head-1">FRESH</h1>
                                   <h2 class="head-2">SCENTS</h2>
                                   <h2 class="head-3">up to <strong class="font-weight-bold">30%</strong> off</h2>
                                   <p class="category"><span>New luxurious perfumes</span></p>
                                   <p><a href="#" class="btn btn-primary">Shop Collection</a></p>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </li>
          </ul>
      </div>
</aside>

<div class="colorlib-intro">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="intro">"Born from Desire: Crafting Quality, Designed for You."</h2>
            </div>
        </div>
    </div>
</div>
<div class="colorlib-product">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-center">
                <div class="featured">
                    <a href="#" class="featured-img" style="background-image: url(/static/user/images/perfume-2142817.jpg);"></a>
                    <div class="desc">
                        <h2><a href="#">Shop Men's Scents</a></h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="featured">
                    <a href="#" class="featured-img" style="background-image: url(/static/user/images/lamp-203937.jpg);"></a>
                    <div class="desc">
                        <h2><a href="#">Shop Women's Fragrances</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="colorlib-product">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
                <h2>Best Sellers</h2>
            </div>
        </div>
        <div class="row row-pb-md">
            <% bestSellers.forEach(product => { %>
                <div class="col-lg-3 mb-4 text-center">
                    <div class="product-entry border">
                        <a href="/shop/productDetails/<%= product._id %>" class="prod-img">
                            <img src="/static/user/images/<%= product.images[0] %>" class="img-fluid" alt="<%= product.name %>">
                        </a>
                        <div class="desc">
                            <h2><a href="/product/<%= product._id %>"><%= product.name %></a></h2>
                            <span class="price">&#8377;<%= product.price.toFixed(2) %></span>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p><a href="/shop" class="btn btn-primary btn-lg">Shop All Products</a></p>
            </div>
        </div>
    </div>
</div>


<div class="colorlib-partner">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                <h2>Trusted Partners</h2>
            </div>
        </div>
        <div class="row">
            <div class="col partner-col text-center">
                <img src="static/user/images/brand-1.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
            </div>
            <div class="col partner-col text-center">
                <img src="static/user/images/brand-2.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
            </div>
            <div class="col partner-col text-center">
                <img src="static/user/images/brand-3.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
            </div>
            <div class="col partner-col text-center">
                <img src="static/user/images/brand-4.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
            </div>
            <div class="col partner-col text-center">
                <img src="static/user/images/brand-5.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
            </div>
        </div>
    </div>
</div>


<%- include('../layout/userlayout/footer') -%>